<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ultra Health and Wellness Coaching</title>
    <script src="https://www.paypal.com/sdk/js?client-id=<%= paypalClientId %>"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/boxicons.css" />
  </head>
  <body data-bs-spy="scroll" data-bs-target=".navbar" style="margin: auto">
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-light navbar navbar-default navbar-static-top"
      style="background-color: #165769"
    >
      <div class="container">
        <a class="navbar-brand" aria-current="page" href="#home"
          ><img src="../img/Ultra Logo.jpg" alt="Home" width="50" height="50"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#healthcoaching"
                >Health Coaching</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#aboutme">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#testimonials"
                >Testimonials</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#plans">Plans & Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
      <div class="col-sm">
          <h4>Motivate Me</h4>
          <img class="rounded-left mx-auto fluid-image"
            src="img/middleage3.jpg"
            alt=""
            style="float: left; width: 100%; height: auto;"
          />
        </div>
          <div class="col-sm">
          <ul style="font-size: 17px;">
            <li style="margin: 1em;">
              Begin your transformation with a personalized discovery session. In this brief but impactful consultation, we will delve into your goals, challenges, and aspirations. This session lays the foundation for a tailored approach that addresses your unique needs, setting the stage for a four-week journey towards sustainable well-being.
            </li>
            <li style="margin: 1em;">
              Between sessions, stay connected with your dedicated health coach through our exclusive email support. This ongoing communication ensures that you receive continuous guidance, motivation, and answers to any questions that may arise during your wellness journey. We are committed to supporting you every step of the way, providing insights and encouragement to keep you on track towards your goal
            </li>
            <li style="margin: 1em;">
              As you near the end of your four-week transformation, we offer a personalized wrap-up call. This final session allows you to reflect on your progress, discuss any challenges, and celebrate your achievements. Your health coach will provide valuable insights and recommendations for the next steps on your wellness journey, ensuring a seamless transition as you continue towards sustained well-being.
            </li>
            <li style="margin: 1em;">
              Why choose this package? It's a perfect blend of convenience, support, and expert guidance. With the 15-minute discovery session, four weeks of email support, and a wrap-up call, you'll experience the benefits of personalized health coaching in a comprehensive and flexible format.
            </li>
            <li>
              Ready to invest in your well-being? Secure your spot in this transformative package today and take the first step towards a healthier, more vibrant life. Your journey to wellness starts here!
            </li>
          </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-7 mx-auto">
              <h3 style="text-align: center; margin: 1em; padding: 1em;">Ready to take your Health and Wellness to the next level?</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mx-auto">
              <div id="paypal" style="float: none;"></div>
            </div>
          </div>
          </ul>
        </div>
      </div>
  </body>
</html>
