<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ultra Health and Wellness Coaching</title>
    <script src="https://www.paypal.com/sdk/js?client-id=AYzsU_haxeSCSRoZBLNx3COAiIU3xwXy7Zx8s1_tcyPchlGkZPPh__W4GT8004k3SJyU1t7kyjeV2joH"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/boxicons.css" />
  </head>
  <body data-bs-spy="scroll" data-bs-target=".navbar" style="margin: auto">
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-light navbar navbar-default navbar-static-top"
      style="background-color: #165769"
    >
      <div class="container">
        <a class="navbar-brand" aria-current="page" href="#home"
          ><img src="../img/Ultra Logo.jpg" alt="Home" width="50" height="50"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#healthcoaching"
                >Health Coaching</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#aboutme">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#testimonials"
                >Testimonials</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#plans">Plans & Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
      <div class="col-sm">
          <h4>Fundamental Plan</h4>
          <img class="rounded-left mx-auto fluid-image"
            src="img/healthymiddleages.jpg"
            alt=""
            style="float: left; width: 100%; height: auto;"
          />
        </div>
          <div class="col-sm">
          <ul style="font-size: 17px;">
            <li style="margin: 1em;">
              Elevate your well-being with our exclusive Fundamental Plan! Dive
              into a transformative experience with 3 months of dedicated
              personalized health coaching.
            </li>
            <li style="margin: 1em;">
              This comprehensive package includes six expertly crafted 50-minute
              sessions, ensuring a deep and impactful exploration of your health
              goals.
            </li>
            <li style="margin: 1em;">
              We will be committed to guiding you through
              a journey of self-discovery and sustainable lifestyle changes.
              Each session is tailored to your unique needs, providing you with
              personalized insights, strategies, and actionable steps to enhance
              your overall well-being.
            </li>
            <li style="margin: 1em;">
              But that's not all – our support extends beyond the coaching
              sessions. Throughout the duration of your plan, you'll receive
              continuous assistance through support emails. Whether you have
              questions, need clarification, or seek encouragement, our team is
              here to provide the support you need.
            </li>
            <li style="margin: 1em;">
              Secure your spot on the path to a healthier, happier you by
              choosing our Fundamental Plan. Invest in yourself today and embark
              on a wellness journey that goes beyond the ordinary. Take the
              first step – your well-being deserves it!
            </li>
          </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-7 mx-auto">
              <h3 style="text-align: center; margin: 1em; padding: 1em;">Ready to take your Health and Wellness to the next level?</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mx-auto">
              <div id="paypal" style="float: none;"></div>
            </div>
          </div>
          </ul>
        </div>
      </div>
  </body>
</html>
