<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ultra Health and Wellness Coaching</title>
    <script src="https://www.paypal.com/sdk/js?client-id=AYzsU_haxeSCSRoZBLNx3COAiIU3xwXy7Zx8s1_tcyPchlGkZPPh__W4GT8004k3SJyU1t7kyjeV2joH"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/boxicons.css" />
  </head>
  <body data-bs-spy="scroll" data-bs-target=".navbar" style="margin: auto">
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-light navbar navbar-default navbar-static-top"
      style="background-color: #165769"
    >
      <div class="container">
        <a class="navbar-brand" aria-current="page" href="#home"
          ><img src="../img/Ultra Logo.jpg" alt="Home" width="50" height="50"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#healthcoaching"
                >Health Coaching</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#aboutme">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#testimonials"
                >Testimonials</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#plans">Plans & Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
      <div class="col-sm">
          <h4>Single Session</h4>
          <img class="rounded-left mx-auto fluid-image"
            src="img/middleage2.jpg"
            alt=""
            style="float: left; width: 100%; height: auto;"
          />
        </div>
          <div class="col-sm">
          <ul style="font-size: 17px;">
            <li style="margin: 1em;">
              Are you curious about personalized health coaching but not quite ready to commit to a full program? We understand that taking the first step can be a big decision. That's why we're excited to offer you a taste of the incredible benefits through our single session option.
            </li>
            <li style="margin: 1em;">
              Dive into a 50-minute session tailored just for you, where we will provide personalized insights, guidance, and strategies to kickstart your wellness journey. Whether you're aiming to improve your fitness, nutrition, or overall well-being, this single session is designed to empower you with actionable steps and a roadmap towards achieving your health goals.
            </li>
            <li style="margin: 1em;">
              Why choose a single session? It's the perfect opportunity to experience the impact of personalized health coaching firsthand, allowing you to gauge its effectiveness for your unique needs and lifestyle. Our skilled coaches are dedicated to understanding your objectives, addressing your concerns, and providing expert advice to set you on the path to success.
            </li>
            <li style="margin: 1em;">
              Unlock the potential for positive change and discover the difference that personalized health coaching can make in just 50 minutes. Take the leap, invest in yourself, and let this single session be the catalyst for a healthier, happier you.
            </li>
            <li style="margin: 1em;">
              Ready to embark on this journey? Book your personalized health coaching session now and experience the immediate benefits of expert guidance tailored to your individual goals. Your well-being awaits – start your transformation today!
            </li>
          </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-7 mx-auto">
              <h3 style="text-align: center; margin: 1em; padding: 1em;">Ready to take your Health and Wellness to the next level?</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mx-auto">
              <div id="paypal" style="float: none;"></div>
            </div>
          </div>
          </ul>
        </div>
      </div>
  </body>
</html>
